# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.sublime-project
*.sublime-workspace
node_modules/
app/bower/
dist/
.tmp/
.git
.idea
build
# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.komodoproject
.komodotools
_notes
dwsync.xml
README.md